* {
    margin: 0;
    padding: 0;
}
.header {
    margin: 20px 0;
    padding: 10px 5% 10px 5%;
    position: relative;
}
.header::before {
    content: '';
    width: 100%;
    height: 1px;
    background-color:transparent;
    position: absolute;
    top: 0;
    left: 0;
}
.header .logo {
    display: inline-block;
    box-sizing: border-box;
    padding: 20px;
}
.header .title {
    display: inline-block;
    width: 35%;
    box-sizing: border-box;
    padding: 10px 10% 10px 5px;
}
.header .title h1 {
    width: fit-content;
    padding-bottom: 10px;
    color: rgb(0, 54, 72);
    transition: all 1s;
}
.header .title h1:hover {
    color: red;
}
.header .title p {
    color: rgb(0, 54, 72);
}
.header .social-media {
    display: inline-block;
    width: 30%;
} 
.social-media-flex {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-content: center;
}
.social-media .social-media-flex div {
    width: 15%;
    height: 50px;
    background-color: rgb(237, 236, 236);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 1s;
}
.social-media .social-media-flex div:nth-of-type(1):hover {
    background-color: rgb(20, 20, 255);
}
.social-media .social-media-flex div:nth-of-type(2):hover {
    background-color: rgb(80, 80, 251);
}
.social-media .social-media-flex div:nth-of-type(3):hover {
    background-color: rgb(140, 140, 255);
}
.social-media .social-media-flex div:nth-of-type(4):hover {
    background-color: red;
}
.social-media .social-media-flex div:nth-of-type(5):hover {
    background-color: rgb(85, 0, 164)
}
.social-media .social-media-flex div:nth-of-type(6):hover {
    background-color: red;
}
.header .register {
    display: inline-block;
    padding-left: 10px;
}
.header .register input {
    height: 50px;
    color: white;
    background-color: red;
    padding: 0px 10px;
    border: none;
    transition: all 0.5s;
}
.header .register input:hover {
    background-color: black;
}
.nav {
    display: flex;
    flex-flow: row wrap;
    background-color: #24211C;
}
.nav-container {
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-content: center;
}
.nav .main-menu-container {
    width: 60%;
    padding: 20px;
}
.nav .search- {
    width: 35%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.nav .search- .search-input {

}
.nav .search- .search-input input {
    padding: 22px 10px;
    background-color: rgba(0, 0, 0, 0.3);
    border: none;
    outline: none;
}
.nav .search- .search-input input::placeholder {
    font-size: larger;
}
.nav .search- .search-logo {
    width: 20%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.3);
}
.nav .search- .search-logo i {
    color: white;
}
.nav .main-menu-container .main-menu {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-content: center;
}
.nav .main-menu-container .main-menu li a {
    color: white;
    font-size: larger;
    text-decoration: none;
    font-family: sans-serif;
    transition: all 1s;
}
.nav .main-menu-container .main-menu .home a {
    color: red;
}
/* .nav .main-menu-container .main-menu .germ a:hover + .sub-menu-container {
    max-height: 300px;
} */
.nav .main-menu-container .main-menu .germ {
    position: relative;
}
/* .nav .main-menu-container .main-menu .germ a:hover + .sub-menu-container .sub-menu{
    opacity: 1;
} */
.nav .main-menu-container .main-menu li a:hover {
    color: red;
}
.nav .main-menu-container .main-menu .sub-menu-container {
    max-height: 0;
    width: 100%;
    position: absolute;
    z-index: 1;
    background-color:  #334f74;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    transition: all 1s;
}
.nav .main-menu-container .main-menu li .sub-menu-container .sub-menu {
    opacity: 0;
    list-style: none;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    transition: all 1s;
}
.nav .main-menu-container .main-menu li .sub-menu-container .sub-menu li {
    padding: 10px;
}
.nav .main-menu-container .main-menu .sub-menu-container .sub-menu li a:hover {
    color: red;
}
.rela {
    position: relative;
}
/* .nav .main-menu-container .main-menu .rela a:hover + .sub2-menu-container {
    max-height: 300px;
} */
/* .nav .main-menu-container .main-menu .germ a:hover + .sub2-menu-container .sub2-menu{
    opacity: 1;
} */
.nav .main-menu-container .main-menu .sub2-menu-container {
    max-height: 0;
    width: 100%;
    position: absolute;
    z-index: 1;
    background-color:  #334f74;
    border-bottom-right-radius: 12px;
    transition: all 1s;
    top: 0;
    left: 100%;
}
.nav .main-menu-container .main-menu li .sub2-menu-container .sub2-menu {
    opacity: 0;
    list-style: none;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    transition: all 1s;
}
.nav .main-menu-container .main-menu li .sub2-menu-container .sub2-menu li {
    padding: 10px;
}
.nav .main-menu-container .main-menu .sub2-menu-container .sub2-menu li a:hover {
    color: red;
}
